{% extends 'base.html' %}

{% block content %}
  <script type="application/javascript">

  </script>
  <table>
    <tbody>
      <tr>
        <td>
          <label> Recovery </label>
        </td>
      </tr>

      <tr>
        <td>
          <label> Alias: </label>
        </td>
        <td>
          <input id="alias" />
        </td>
      </tr>

      <tr>
        <td>
          <label> Email: </label>
        </td>
        <td>
          <input id="email" />
        </td>
      </tr>
    </tbody>
  </table>
    
{% endblock %}