{% extends 'base.html' %}

{% block content %}
  <script type="application/javascript">
    async function click_signout(){
      console.log("click")
      try {
        const response = await fetch("/api/signout",{
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            //alias:alias,
            //passphrase:pass
          }),
        });
        const result = await response.json();
        console.log(result);
        document.location.href = "/"
      } catch (error) {
        console.log(error)
      }
    }
    function click_back(){
      console.log("click")
      document.location.href = "/"
    }
  </script>
  <center>
    <table>
      <tbody>
        <tr>
          <td>
            <label>Are you sure to logout?</label>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <button onclick="click_signout();"> Yes </button>
            <button onclick="click_back();"> No </button>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
{% endblock %}